.link-hover {
  position: relative;
  top: 0;
  transition: top ease 1s;
}

.link-hover:hover {
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background-color: rgba(241, 241, 241, 0.199) !important;
}
.link-hover:after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 0;
  height: 3px;
}

.link-hover:hover:after {
  width: 100%;
}

@keyframes beaconAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.5;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* one-time beacon */
.beacon {
  animation: beaconAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}
