@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600&display=swap');

body {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a:hover,
a:focus {
  text-decoration: none !important;
  color: dodgerblue;
}

.link-hover {
  position: relative;
  top: 0;
  transition: top ease 1s;
}

.link-hover:hover {
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background-color: rgba(241, 241, 241, 0.199) !important;
}
.link-hover:after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 0;
  height: 3px;
}

.link-hover:hover:after {
  width: 100%;
}

@keyframes beaconAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* one-time beacon */
.beacon {
  position: relative;
  animation: beaconAnimation 0.8s;
}

.beacon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
}

.disable-select {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
