.link-hover {
  position: relative;
  top: 0;
  transition: top ease 1s;
}

.link-hover:hover {
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  background-color: rgba(241, 241, 241, 0.199) !important;
}
.link-hover:after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 0;
  height: 3px;
}

.link-hover:hover:after {
  width: 100%;
}
